.portalButton {
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url(../Assets/magGlass.png);
    border: none;
    padding: 1.2em;
}

.body {
    text-align: center;
}

p::first-letter {
  text-transform: capitalize;
}

img {
  border-radius: 5em;
}

a:hover {
  cursor: pointer;
}

/* #ADVmodal {
    /* overlay: {
        //   alignSelf: 'center',
        //THIS IS NOT WORKING WILL NOT CENTER THE MODAL IN PAGE
          maxWidth: 800
        },
        content: { should be ; not , below
          position: 'absolute',
          top: '4em',
          left: '4em',
          right: '4em',
          bottom: '4em',
          border: '.28em solid #ccc',
          background: '#fff',
          overflow: 'auto',
          WebkitOverflowScrolling: 'touch',
          borderRadius: '70px',
          padding: 30,
          textAlign: 'center',
          
          
        } 
} */