.App {
  text-align: center;
  text-emphasis: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

a {
  text-decoration: none;
  color: black
}

.fade {

  transition: opacity 500ms ease-in;
}

.fade-in {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.header{
  background: 
  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 90%),
  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 30%),
  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 15%),
  url('./Assets/banner.webp');
  color: white;
  border-bottom: .7em;
  border-top: 0em;
  border-left: 0em;
  border-right: 0em;
  border-color: #97ce4c;
  border-style:solid;
  border-bottom-left-radius: 8em;
}

#logo{
  width: 25%;
  border-radius: 0%;
}

#headerButtons{
  display: flex;
  justify-content: space-evenly;
}

.topButton{
  color: rgba(255, 251, 251, 0.6);
  background-color: rgba(0, 0, 0, 0.823);
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(250, 235, 215, 0.564);
  border-width: 0em;
  cursor: pointer;
  font-size: 1.4em;
  transition: .4s ease-in-out; 
  outline: none;
  width: 13%;
  height: 86%;
  margin-top: .50%;
}

.topButton:hover{
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(253, 253, 253, 0.689);
  border-color: #9ED4D2;
}

.topLink{
  color: antiquewhite;
}

.topLink:hover{
  color: black;
  transition: .4s cubic-bezier(1, 1, 1, 1);
}

.searchInput{
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

.searchButton{
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  font-size: 1em;
  transition: .4s ease-in-out; 
  outline: none;
  width: 5%;
  margin-top: .50%;
}

.searchButton:hover{
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.504);
}

#advButton{
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  font-size: 1em;
  transition: .4s ease-in-out; 
  outline: none;
  width: 11%;
  margin-top: .50%;
}

#advButton:hover{
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.504);
}

.modalButton{
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  font-size: 1em;
  transition: .4s ease-in-out; 
  outline: none;
  width: 5%;
  margin-top: .50%;
}

.modalButton:hover{
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.504);
}

.advSelect{
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  font-size: 1em;
  transition: .4s ease-in-out; 
  outline: none;
  width: 6%;
  margin-top: .50%;
}

.advSelect:hover{
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.504);
}

.moreButtonChar{
  margin-bottom: 3em;
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  font-size: 1em;
  transition: .4s ease-in-out; 
  outline: none;
  width: 4.5%;
}

.moreButtonChar:hover{
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.504);
}

.moreButton{
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  font-size: 1em;
  transition: .4s ease-in-out; 
  outline: none;
  width: 4%;
}

.moreButton:hover{
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.504);
}

#footer{
  position: fixed;
  height: 1.5em;
  left: 0;
  bottom: 0;
  width: 73%;
  background: url('./Assets/banner.webp');
  color: antiquewhite;
  justify-content: space-evenly;
  border-bottom: 0em;
  border-top: .7em;
  border-left: 0em;
  border-right: 0em;
  border-color: #97ce4c;
  border-style:solid;
  border-top-right-radius: 2em;
  
}

#footerTextWrapper{
  display: flex;
  justify-content: space-evenly;
}

.footerText{
  color: antiquewhite;
}

.homeCardWrapper{
  display: flex;
  justify-content: space-evenly;
  
}

.homeCard{
  background-color: rgba(3, 87, 100, 0.212);
  padding: 1em;
  width: 20em;
  height: 10em;
  border-radius: .5em;
}

.homePic{
 width: 8em;
}

.pointer {
  cursor: pointer;
}